#calculatorBody{
    background-color: grey;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#screen{
    background-color: lightgray;
    width: 450px;
    height: 90px;
}