*{
    margin: 0;
    padding: 0;
}

button{
    border-radius: 8px;
     box-shadow: 4px 4px 3px rgb(8, 7, 7);
}

h1{
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
}
#calculatorBody{
    background-color: grey;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
    border-radius: 8px;
     box-shadow: 4px 4px 4px rgb(8, 7, 7);
    margin: auto;
}

#screen{
    background-color: lightgray;
    flex: 0 0 20%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgb(8, 7, 7);
    font-size: 3rem;
    color: black;
    text-align: right;
    padding-right: 5px;
}

#operatorButtons{
    display: flex;
    justify-content: space-between;
    flex: 0 0 20%;
    width: 100%;
    gap: 20px;
    
}

#operatorButtons button{
    background-color: antiquewhite;
    font-size: 2rem;
    flex: 1;
    padding: 8px;
    height: 80%;
    
    
}
#numberAndOtherButtons{
    display: flex;
    flex: 0 0 60%;
    width: 100%;
    max-height: fit-content;
}
#numbersContainer{
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 30%;
    gap: 10px;
    flex: 1 1 50%;
      
}
#othersContainer{
    display: flex;
    flex-direction: column;
    flex: 1 1 50%; 
    gap: 20px;
    align-content: center;  
}
#numbersContainer button{
    font-size: 4rem;
    padding: 8px 10px;  
    background-color: blueviolet;  
    color: white;   
}
#othersContainer button{
    font-size: 4rem;
    padding: 8px 10px;

}
